:root {
        --bg-color-header: rgba(255, 0, 0, 1);
        --bg-color-main: rgba(255, 255, 255, 1);
        --bg-color-secondary: rgba(0, 0, 0, .05);
        --shadow-color-main: rgba(128, 128, 128, 0.75);
}